---
layout: root
title: 学塾ワイズ
---

<div class="container">
  <article class="prose mx-auto max-w-3xl">
    <div class="h-96 bg-gray-50 flex justify-center items-center">
      <h1>{{title}}</h1>
    </div>

    <section>
      <h2>（追加）教室の所在地</h2>
    </section>

    <section>
      <h2>特徴</h2>

      <ul>
        <li>2時間みっちりマンツーマン授業</li>
        <li>創設25年の実績</li>
        <li>ロスタイム無し</li>
      </ul>
    </section>

    <section>
      <h2>授業形態</h2>

      <p>
        バイトを使わず、全授業を塾長が完全マンツーマンで指導するので、生徒さんや学校の進度にピッタリ合わせた授業及び先取り授業が出来ます。塾の先生歴35年(独立して25年)のキャリアから「学校では教えないけど入試には出る！」というポイントも、漏らさず丁寧に教えます。
      </p>

      <p>
        特に小学生算数と高校英語では秘伝の「まとめノート」を作って、体系的に理解を深め、最も効率的な解き方を指導していきます。もちろん中高一貫校に通っておられる生徒さんへの対策も万全です。
      </p>
    </section>

    <section>
      <h2>大手との差別化</h2>

      <p>
        「個別授業」を謳っている多くの塾が、複数の生徒に対して一人の先生が授業をせずに質問に受け答えするスタイルですが、学塾ワイズは違います。
      </p>
      <p>
        2時間みっちりマンツーマンで、きっちり授業をします。各回の新しい単元について、解き方、考え方を丁寧に教えた後、問題演習は自宅で宿題となります。そして次の回の授業で宿題の間違えた所、分からなかった所を解説し、また新しい単元へと進み、宿題を出します。
      </p>

      <p>
        教室で生徒さんが問題を解くのを先生が見ているだけ、というロスタイムはありません。
      </p>
    </section>

    <section>
      <h2>対象</h2>

      中学、高校、大学受験 →小学4年生(3年生の3学期)〜高校3年生
    </section>

    <section>
      <h2>合格実績</h2>

      東京大学文科一類, 文科三類 慶應義塾大学経済学部, 商学部
      早稲田大学政治経済学部, 法学部, 社会科学部 日本医科大, 東京女子医大,
      日本大学医学部, 日本歯科大 明治大学法学部 青山学院大学経営学部,etc
      明治大学附属明治高校, 都立北園高校, 東洋大学京北高校, etc 早稲田中学,
      慶應義塾中等部, 慶應義塾普通部, 桜蔭, 城北, 巣鴨, 成城, 暁星, 共立女子,etc
    </section>

    <section>
      <h2>先生の紹介</h2>

      <p>1968年生まれ</p>
      <p>開成中学、開成高校、慶應義塾大学文学部倫理学専攻</p>
    </section>

    <section>
      <h2>親御さんへメッセージ</h2>
      <p>
        今の時代には珍しく、熱量の高い、密度の濃い授業を毎回行います。いわゆるお勉強だけでなく、生徒さんの精神面も大きく成長し、バランスと取れた人になって頂けるよう、長年のノウハウを駆使して全力を尽くします。卒業しても、しばしば卒業生から連絡がある事が喜びです。
      </p>
    </section>

    <section>
      <h2>生徒さんへメッセージ</h2>
      <p>
        君の可能性は無限大です。自分で自分のMaxを設定せず、君の能力を最大限に引き出してみませんか？
      </p>
    </section>

    <section>
      <h2>卒業生の声</h2>

      <div class="card px-4 py-3">
        <h3>〇〇さん 〇〇高校合格</h3>

        <p>コメント...</p>
      </div>
    </section>

    <section>
      <h2>（追加）お問い合わせ方法</h2>
    </section>
    <script src="/script/index.js"></script>
  </article>
</div>
